<div class="gradient">
    <div class="rel d-flex justify-content-center align-items-center container-form">
        <div class="card w-50">
            <h2 class="text-center m-0">{{"title.updateProfile" |translate}}</h2>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="">
                        <label>{{ "formLabel.name" | translate }} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="name" />
                    </div>
                    <div class="">
                        <label>{{ "formLabel.lastname" | translate }} <span class="text-danger ">*</span></label>
                        <input type="text " class="form-control " formControlName="lastname" />
                    </div>
                    <div class="">
                        <label>{{ "formLabel.tel" | translate }} <span class="text-danger ">*</span></label>
                        <input type="tel " class="form-control " formControlName="phone" />
                    </div>
                    <div class="">
                        <label>{{ "formLabel.email" | translate }} <span class="text-danger ">*</span></label>
                        <input type="email " class="form-control " formControlName="email" />
                    </div>
                </div>
                <div class="d-flex flex-column p-3 position-fixed-bottom">
                    <span *ngIf="formHasErrors " class="text-danger text-center ">{{"formLabel.pleaseCheckFields" | translate}}</span>
                    <button class="btn-primary btn" type="submit ">{{"button.updateProfile" | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
