<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">


<!--Contenido del modal-->

<ng-template #vendedorModalContent let-data>
    <div class="grid">
        <div class="col-6 grid-column">
            <div class="col-12 grid-center">
                <div class="ModalImgContainer">
                    <img class="car-img" src="{{data.image}}" alt="{{data.model}}">
                </div>
            </div>
            <mat-card class="col-12">
                <mat-card-title style="text-align: center;">{{data.brand}} {{data.model}} </mat-card-title>
                <mat-card-content class="grid-spaceAround">
                    <div class="col-5">
                        <br>
                        <p>Año: {{data.year}}</p>
                        <p>Transmision: {{data.transmission}}</p>
                        <p>Tipo de auto: {{data.type_car}}</p>
                    </div>
                    <div style="text-align: center;" class="col-5">
                        <h1>Precio: ${{data.price}}</h1>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>



        <div class="col-6 grid-column">

            <div class="grid-center col-12">
                <h2 class=" text-center col-10 m-0">Informacion de contacto</h2>
                <mat-card style="margin-bottom:10%;" class="col-10 grid">
                    <div class="col-6 grid-column">
                        <h2 class="col-12">{{data.user.nombres | titlecase}} {{data.user.apellidos | titlecase}}</h2>
                        <p class="col-12">{{data.user.email}}</p>
                        <p class="col-12">{{data.user.telefono}}</p>
                        <p class="col-12">Mty,NL</p>
                    </div>

                    <div class="col-6 ppImgContainer p-1">
                        <img src="https://thispersondoesnotexist.com/image" alt="">
                    </div>
                </mat-card>
            </div>

            <div class="col-12 pt-5">
                <div class="grid-center">
                    <input style="width: auto; height:150px;" class="col-10" type="text">
                </div>

                <div class="grid-center mt-2">
                    <button class="btn btn-secondary" (click)="sendMessage()">Enviar mensaje</button>
                </div>
            </div>
        </div>

    </div>
</ng-template>


<app-no-data *ngIf="!cars.length"></app-no-data>
<div *ngIf="cars.length" class="grid-spaceAround-noBottom content bg">
    <mat-card *ngFor="let car of cars;" class="col-2_lg-6_sm-8_md-6_xs-12 mCard">
        <mat-card-header style="text-align: center;" class="grid-center">
            <mat-card-title>{{car.brand}} {{car.model}}</mat-card-title>
            <mat-card-subtitle>Año {{car.year}}</mat-card-subtitle>
        </mat-card-header>
        <div class="imgContainer">
            <img class="cardThumbnail" src="{{car.image}}" alt="{{car.model}}">
        </div>

        <div class=" grid-center-noBottom cardBottom">
            <h2 class="col-12">${{car.price}}</h2>
            <button class="btn btn-secondary" (click)="vendedorModal(vendedorModalContent,car.id)">Contactar al vendedor</button>
        </div>
    </mat-card>

</div>
