
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$getACar-primary: mat.define-palette(mat.$indigo-palette);
$getACar-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$getACar-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$getACar-theme: mat.define-light-theme((
  color: (
    primary: $getACar-primary,
    accent: $getACar-accent,
    warn: $getACar-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($getACar-theme);

/* You can add global styles to this file, and also import other style files */
$color1: #CFDBD5;
$color2: #E8EDDF;
$color3: #dda919;
$color4: #242423;
$color5: #242423;
html,
body {
    height: 100%;
}

.rel {
    position: relative;
}

.container-form {
    height: 90%;
}

.btn {
    border-radius: 5rem;
    border-color: $color5;
}

.btn-primary {
    background-color: $color3;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
